* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;
  background-image: url(https://images.unsplash.com/photo-1512591290618-904e04936827?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
  background-repeat: repeat-y;
  background-size: 100%;
  font-family: "Permanent Marker", cursive;
  align-items: center;
  height: 100vh;
}

header {
  display: flex;
  background-color: #e7e7e7;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
  width: 100%;
  border-radius: 0 0 10px 10px;
}

.navBar div {
  height: 4px;
  background-color: #151719;
  border-radius: 25px;
  margin: 5px 0;
  transition: 0.3s;
}

.navBar {
  display: block;
  width: 30px;
  margin: 5px 0 0 5px;
}

.one {
  width: 30px;
}

.two {
  width: 20px;
}

.three {
  width: 25px;
}

.navBar:hover div {
  width: 30px;
}

.hide {
  display: none;
}

.navBar:hover + .toShow {
  display: flex;
}

.navBar:hover ~ .toHide {
  display: none;
}

nav {
  width: 80%;
}

nav:hover {
  display: flex;
}

nav:hover ~ .toHide {
  display: none;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

li {
  margin: 5px;
}

header div {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 90%;
  margin: 0 10px;
  margin-left: auto;
}

header div h1 {
  height: auto;
  width: 80%;
  font-size: unset;
}

header div img {
  height: 80%;
  width: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h2 {
  color: #e7e7e7;
  -webkit-text-stroke: 1px black;
}

main section {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80vw;
  color: #e7e7e7;
  -webkit-text-stroke: 1px black;
}

footer {
  width: 100%;
  padding: 5px;
  height: 5vh;
  background-color: #e7e7e7;
  border-radius: 8px 8px 0 0;
  margin-top: auto;
}

footer div {
  display: flex;
  justify-content: space-between;
  font-family: "Times New Roman", Times, serif;
  color: #151719;
  font-weight: bold;
}

footer div a {
  color: #151719;
}
